.demo-0003 {

  $border-colour:#95a5a5;
  $border-radius:4px;
  $background-colour:#fff;
  $popup-height-max:300px;

  .ui-dropdown {

    position: relative;

    input {
      position: relative;
      display: block;
      padding: 8px;
      border-radius: $border-radius;
      border: solid 1px $border-colour;
      width: 100%;
      box-sizing: border-box;
      background-color: $background-colour;
    }

    ul {
      list-style: none;
    }

    .ui-region-popup {
      position: absolute;
      top: 21px;
      left: 0px;
      border-radius: $border-radius;
      border: solid 1px $border-colour;
      background-color: $background-colour;
      max-height: $popup-height-max;
      overflow-y: auto;
    }
  }
}
