.demo-virtual-list-container {
  margin-left: 10px;
  margin-right: 10px;

  .list-gallery {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .ui-virtual-list {
      width: 340px;
      height: 600px;
      border: solid 1px grey;
      background-color: white;
      overflow-y: auto;
      font-size: 12px;

      .container-inner {
        position: relative;

        .list-item {
          z-index: 10;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          user-select: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          // have a fixed height to assist with virtual layout
          height: 32px;
          border: solid 2px lightblue;
          background-color: lighten(lightblue, 15);
          box-sizing: border-box;
          border-radius: 4px;

          .title {
            margin-left: 4px;
            margin-right: 4px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            flex-shrink: 1;
            text-transform: capitalize;
          }
          .check {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            height: 28px;
            border: solid 1px gray;
            color: gray;
            font-weight: lighter;

            border-radius: 4px;
          }
        }
      }
    }
  }

  button {
    height: 32px;
    margin: 4px;
    padding: 8px;
    border-radius: 8px;
    border: solid 1px grey;
  }
}

.ui-static-elements {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  left: 10px;
  border: solid 2px red;
  background-color: lightblue;
  height: 32px;
}
