.demo-virtual-list-container {
  margin-left: 10px;
  margin-right: 10px;

  .list-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    border: solid 2px red;
    gap: 32px;

    .standard-list-demo {
      .list-container {
        border: solid 10px grey;
        background-color: white;
        width: 340px;
        height: 600px;

        overflow-x: hidden;
        overflow-y: auto;
        list-style-type: none;

        .list-item {
          display: flex;
          align-items: center;
          // have a fixed height to assist with virtual layout
          height: 32px;
          margin-left: 4px;
          margin-right: 4px;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    .virtual-list-demo {
      width: 340px;
      height: 600px;
      border: solid 10px grey;
      background-color: white;
      position: relative;

      .list-item {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        user-select: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // have a fixed height to assist with virtual layout
        height: 32px;
        border: solid 2px lightblue;
        background-color: lighten(lightblue, 15);
        box-sizing: border-box;
        border-radius: 4px;

        .title {
          margin-left: 4px;
          margin-right: 4px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          flex-shrink: 1;
        }
        .check {
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 28px;
          height: 28px;
          border: solid 1px gray;
          color: gray;
          font-weight: lighter;

          border-radius: 4px;
        }
      }
    }
  }

  button {
    height: 32px;
    margin: 4px;
    padding: 8px;
    border-radius: 8px;
    border: solid 1px grey;
  }

  .stats {
    display: flex;
    flex-direction: row;

    gap: 100px;
    margin: 20px;
  }
}

.ui-static-elements {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  left: 10px;
  border: solid 2px red;
  background-color: lightblue;
  height: 32px;
}
