.demo-0002 {
  input {
    display: inline-block;
       
    padding: 8px;
    border-radius: 4px;
    border:solid 1px #95a5a5;
    box-sizing: border-box;
    width: 100%;
  }

  ul {
    list-style: none;
  }
}
